@page "/newsletter"
@using Observer1.Data
@rendermode InteractiveServer

<h1>Newsletter (The Observer Pattern</h1>

<h2>First, some information: Which observers would you like to be notified of your data?</h2>

<p>Console Observer: </p> <button @onclick="() => subject.Subscribe(Observer1)">Subscribe!</button>
<button class="button" @onclick="() => subject.Unsubscribe(Observer1)">Unsubscribe</button>

<br />
<br />

<p>File Observer: </p> <button @onclick="() => subject.Subscribe(Observer2)">Subscribe!</button>
<button @onclick="() => subject.Unsubscribe(Observer2)">Unsubscribe</button>

<h3>How many days do you have left until the break?</h3>
<input type="number" @bind-value=daysToBreak />

<h3>How many homework assignments do you have left to do?</h3>
<input type="number" @bind-value=numHomeworkAssignments />

<button @onclick="SaveMeasurementsAndNotifyObservers">Save</button>

<script>
    window.displayTickerAlert1 = (stressLevel) => {
        alert(`$Your Stress level is {stressLevel}!:`);
    };
</script>


@code {
    int daysToBreak = 0;
    int numHomeworkAssignments = 0;

    private StatisticsSubject subject = new();
    private ObserverOne Observer1 = new();
    private ObserverTwo Observer2 = new();

    public void SaveMeasurementsAndNotifyObservers()
    {
        subject.SetMeasurements(daysToBreak, numHomeworkAssignments);
        subject.MeasurementsChanged();
    }

}
